@media only screen and (min-width: 700px) {
    :root {
        --background-color: white;
        /* Tea Rose */
        --header-background: #fff;
        /* Steel Blue */
        --link-color: #0d2435;
        /* Steel Blue links */
        --text-color: #333;
        /* Dark gray text */
        --footer-background: #F4C3C2;
        /* Tea Rose footer */
    }

    body {
        background-color: white;
        font-family: "Sniglet", serif;
        margin: 0;
        display: grid;
        width: 100%;
        max-width: 1000px;
        padding: 1px;
        color: var(--text-color);
    }

    #menu {
        display: none;
    }

    #categorynav {
        display: none;
    }

    /*
    .slider {
        width: 1280px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;

        animation: slide 16s infinite alternate ease-in-out;
    }

    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
    }

    .slider li {
        list-style: none;
        width: 100%;
    }

    @keyframes slide {
        0% {
            margin-left: 0%;
        }

        20% {
            margin-left: 0%;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        95% {
            margin-left: -300%;
        }
    }*/

    nav {
        align-self: center;
        background-color: var(--header-background);
        color: var(--text-color);
        margin: 0 auto;
        max-width: 100%;
    }

    nav a {
        display: block;
        color: #333;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    h1 {
        font-weight: 100;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    header {
        display: flex;
        background-color: var(--header-background);
        padding: 20px;
        text-align: left;
        color: #333;
    }

    h1,
    h2,
    h3 {
        margin: 0 10px;
        font-family: "Playwrite GB S", serif;
        align-self: center;
    }

    p {
        margin: 10px;
        font-family: "Playwrite GB S", serif;
    }

    main {
        display: grid;
        max-width: 1000px;
        padding: 1px;
        margin: 0 auto;
        width: 100%;
    }



    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem auto 0;
        border-top: 1px solid #443850;
        font-size: 0.8rem;
        font-family: "Playwrite GB S", serif;
    }




    /*------Classes--------*/

    .navigation,
    .category {
        display: flex;
        flex-direction: row;
    }

    .navigation li,
    .category li {
        display: block;
        color: #333;
    }

    .navigation a,
    .category a {
        text-align: center;
    }

    .products-grid {
        border: none;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        gap: 20px;
        padding: 1px;
        margin: auto;
    }

    .products-grid img {
        max-width: 300px;
        max-height: 400px;
        border-radius: 10px;
    }

    .search_input input[type="text"] {
        background-color: #eee;
        border: 1px solid #999;
        border-radius: 6px;
        padding: .55rem;
        color: #555;
        width: 50%;
        margin: 25px 25%;
    }

    .banner {
        display: contents;
        background-position: center;
        max-width: 1000px;
        margin-top: 25px;
    }

}