@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0 auto;
    display: grid;
    max-width: 900px;
}

h1 {
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: 1px solid #443850;
    text-align: center;
    margin: 0 ;
    width: 90%;
}

header {
    background-color: #bbb;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #36454f;
    margin: 0 auto;
    max-width: 100%;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 135px;
    margin: 1rem 0 1rem 0;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    display: grid;
    grid-template-columns: 3fr 0.05fr 1fr;    
    padding: 0 1rem;
    max-width: 900px;
    margin: 0;
}



section div {
    padding:  0 1rem;
}

figcaption {
    color: #4C4C47;
    padding: 1em;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1rem auto 0;
    border-top: 1px solid #443850;
    font-size: 0.9rem;
    background-color: #bbb;
}

/* class */

.box {
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: gray;
    color: #000;
}

.me {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid steelblue;
    grid-column: 1 / 2;
}

.me_img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0.5rem 1rem 1rem;
}

.country_img{
    float: left;
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin: 1rem;
}

.dev_resources {
    border-radius: 1rem;
    padding: 0 1rem;
    border: 1px solid steelblue;
    grid-column: 3 / 4;
}