:root {
    --backcolor: #bbb;
    --bord: 1px solid #443850;
}

@media only screen and (min-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4fr 0.5fr;
        max-width: 1250px;
    }

    header {
        background-color: var(--backcolor);
        text-align: center;
        padding: 20px;
        color: black;
        font-size: 2.5em;
        font-weight: bold;
        position: relative;
        border-bottom: 5px solid rgb(98, 128, 98);
    }

    h1 {
        font-weight: 100;
        font-size: 2rem;
        text-align: left;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 100;
        border-bottom: var(--bord);
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    main {
        padding: 0 1rem;
        max-width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
        grid-template-rows: 1fr;
    }


    .hero {
        position: absolute;
        background-size: cover;
        background-position: center;
        height: 399px;
        min-width: 1000px;
        display: block;
        align-items: center;
        padding: 0 50px;
        grid-column: 1 / 6;
        z-index: -1;
    }


    .weather-widget {
        background: rgba(0, 0, 0, 0.692);
        /* Semi-transparent background */
        color: #bbb;
        padding: 20px;
        width: 220px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .location-info {
        background: rgba(0, 0, 0, 0.692);
        /* Semi-transparent background */
        color: #bbb;
        padding: 20px;
        width: 300px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        grid-column: 4 / 5;
    }


    .weather-widget h2,
    .location-info h2 {
        background-color: rgb(98, 128, 98);
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
    }

    .weather-widget h2::after {
        content: none;
    }

    .weather-widget p,
    .location-info p {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem auto 0;
        border-top: 1px solid #443850;
        font-size: 0.8rem;
        background-color: var(--backcolor);
        border-top: 5px solid rgb(98, 128, 98);
    }
}