:root {
    --backcolor: #bbb;
    --bord: 1px solid #443850;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0 auto;
    display: grid;
    max-width: 100%;
}


/* Mobile View ***************/

header {
    background-color: var(--backcolor);
    text-align: center;
    padding: 20px;
    color: rgb(41, 39, 39);
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    border-bottom: 5px solid rgb(98, 128, 98);
}

h1 {
    font-weight: 100;
    font-size: 2rem;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: var(--bord);
    text-align: center;
    margin: 0 auto;
    width: 90%;
}


main {
    padding: 0 1rem;
    max-width: 999px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.hero {
    position: relative;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.weather-widget {
    color: #bbb;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: var(border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weather-widget img {
    margin: 0 auto;
}

.location-info {
    color: #bbb;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weather-widget h2, .location-info h2 {
    background-color: rgb(98, 128, 98);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.weather-widget p, .location-info p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem auto 0;
    border-top: 1px solid #443850;
    font-size: 0.8rem;
    background-color: var(--backcolor);
    grid-row: 3 / 4;
}